@import "tailwindcss";

@theme {
	--color-bubble-gum-blue: hsl(205, 88%, 50%);
	--color-brain-pink: hsl(325, 100%, 68%);
	--color-bubble-gum-text: hsl(205, 100%, 14%);
}

.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}
